.Pokecard {
    border: 2px darkblue solid;
    width: 300 px;
    margin: 1x;
    padding: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    text-align: center;
    background-color: azure;
    border-radius: 3px;

}
.Pokecard img {
    height: 200px;
     

}
.Pokecard img:hover {
    transform: scale(2);
}
.Pokecard-data{
    font-size: 4px;
    
}
